Repository WFCD/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./configs/.eslintrc.js --cache --fix, prettier --write, prettier --write --parser json, npx sort-package-json, npm dedupe

Notes added by 'git notes add'
  c92143c4949c62a6d7d6750e167bdd59e4f9fd77
Due: none

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --parser json, npx sort-package-json, npm dedupe

fix: install devDeps before release
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --parser json, npx sort-package-json, npm dedupe

Notes added by 'git notes add'
  48086213882544b0a0a918e8e20996a9496b0855
Due: none

fix: provenance & oidc
  .github/workflows/release.yaml
Due: none

ci: provenance & repository url
  package.json
Due: prettier --write --parser json, npx sort-package-json, npm dedupe

fix: simplifi ci
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .nvmrc
Due: none

fix: provenance & oidc (#28)
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .nvmrc
  package.json
Due: prettier --write --parser json, npx sort-package-json, npm dedupe

fix: footer length
  commitlint.config.mjs
Due: eslint -c ./configs/.eslintrc.js --cache --fix, prettier --write

chore(release): 1.6.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write --parser json, npx sort-package-json, npm dedupe

Notes added by 'git notes add'
  e438d91c98b29c145f1a7a8b31a5adaf8b694893
Due: none

ci: codeql setup
  .github/workflows/codeql.yml
Due: none

ci: codeql setup (#29)
  .github/workflows/codeql.yml
Due: none

ci: dependency review
  .github/workflows/dependency-review.yml
Due: none

Path conditions:
  eslint -c ./configs/.eslintrc.js --cache --fix: any of: *.{js,ts,mjs,cjs}
  prettier --write: (any of: *.{js,ts,mjs,cjs}) or (any of: *,!*.{js,ts,mjs,cjs},!package*.json)
  prettier --write --parser json: any of: package*.json
  npx sort-package-json: any of: package*.json
  npm dedupe: any of: package*.json
